# Node.js dependencies
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb

# Build artifacts
dist/
build/
out/
.next/
.vercel/
.netlify/
.temp/

# Logs & Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
error.log
*.log

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Editor files
.vscode/
.idea/
*.swp
*.swo
*.swn

# System files
.DS_Store
Thumbs.db

# Linting & Cache
eslintcache
.stylelintcache

# Testing
coverage/
.jest/
.nyc_output/
cypress/videos/
cypress/screenshots/
playwright-report/

# TypeScript
*.tsbuildinfo

# Public/Static files (Optional)
public/uploads/
public/temp/

# Backend
/uploads/
dump.rdb
*.sqlite
*.sqlite3
*.db
*.bak
*.log
.mongod.lock
config/secrets.json

# Docker
docker-compose.override.yml
.dockerignore

# Git Hooks
.husky/
.prettierignore
.prettier/
