body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1,#box2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 800px;
    height: 600px;
    margin: 30px;
}
.items{
    background-color: pink;
    margin: 30px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}