* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.note {
  width: 100%;
  height: 600px;
  background-color: rgb(211, 211, 172);
  font-size: 2em;
  overflow-wrap: break-word;
  overflow-y: scroll;
  outline: none;
  padding: 5px;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  font-size: 2em;
  justify-content: center;
  flex-wrap: wrap;
  background-color: aliceblue;
}
.main {
  margin: 30px;
  width: 90%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* background-color: antiquewhite; */
}
.note::-webkit-scrollbar {
  display: none;
}
#allNote {
  /* width: 90%;
  height: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 242, 253);
  flex-wrap: wrap;
  border-radius: 10px;
  overflow-x: hidden;
  padding: 10px;
}
.singleNote {
  background-color: rgb(230, 219, 194);
  border-radius: 10px;
  width: 800px;
  margin: 15px;
}
.hidden {
  display: none;
}
h1 {
  font-size: 4em;
}
.editBtn,
.saveBtn,
.removeBtn,
#btn,
.autoSave,
label {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-size: 1.5em;
  cursor: pointer;
}

.date {
  font-size: 1.5em;
  margin: 10px;
}
#status{
    font-size: 1.5em;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
}